@page "/deletedevice/{DeviceGuid:guid}"
@rendermode InteractiveServer

@if (!FinishedSearch)
{
    <p><em>Loading...</em></p>
}
else if (!FoundDevice)
{
    <div class="alert alert-danger text-center mt-5 mb-5">This device could not be found.</div>
    <a class="btn btn-outline btn-primary" href="/">Back to overview</a>
}
else if (!Saved)
{
    <h4 class="text-start text-light-emphasis ms-4 mt-2 mb-2">Device details</h4>

    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td>@Device.DeviceGuid</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Device.Name</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Device.Description</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Device.IsOnline</td>
            </tr>
            <tr>
                <td>Last connected</td>
                @if (!Device.HasBeenConnected)
                {
                    <td>Never connected</td>
                }
                else
                {
                    <td>@Device.FormatLastConnectionTime() (@Device.FormatTimeSinceLastConnection() ago)</td>
                }
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-danger" @onclick="@HandleSubmit">Delete device</button>
    <a class="btn btn-outline-primary" href="@($"/devicedetails/{Device.DeviceGuid}")">Device details</a>
    <a class="btn btn-outline-primary" href="@($"/editdevice/{Device.DeviceGuid}")">Edit device</a>
    <a class="btn btn-outline-primary" href="/">Back to overview</a>
}
else
{
    <div class="alert alert-success mt-5 mb-5">Device successfully deleted</div>

    <a class="btn btn-outline btn-primary" href="/">Back to overview</a>
}
