@page "/deletedevice/{DeviceGuid:guid}"
@rendermode InteractiveServer

@if (!FinishedSearch)
{
    <p><em>Loading...</em></p>
}
else if (!FoundDevice)
{
    <div class="alert alert-danger text-center mt-5 mb-5">This device could not be found.</div>
    <LinkButton Href="/">Back to overview</LinkButton>
}
else if (!Saved)
{
    <MainHeader>Delete this device?</MainHeader>

    <table class="table table-sm align-middle mb-3">
        <tbody>
            <tr>
                <td>ID</td>
                <td>@Device.DeviceGuid</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Device.Name</td>
            </tr>
            <tr>
                <td>NickName</td>
                <td>@(Device.NickName is null ? string.Empty : Device.NickName)</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Device.Description</td>
            </tr>
            <tr>
                <td>Status</td>
                <td><StatusBadge Status="@Device.IsOnline" /></td>
            </tr>
            <tr>
                <td>Last connected</td>
                @if (!Device.HasBeenConnected)
                {
                    <td>Never connected</td>
                }
                else
                {
                    <td>@Device.FormatLastConnectionTime() (@Device.FormatTimeSinceLastConnection() ago)</td>
                }
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-danger" @onclick="@HandleDelete">Delete device</button>
    <LinkButton Href="@($"/devicedetails/{Device.DeviceGuid}")">Device details</LinkButton>
    <LinkButton Href="@($"/editdevice/{Device.DeviceGuid}")">Edit device</LinkButton>
    <LinkButton Href="/">Back to overview</LinkButton>
}
else
{
    <div class="alert alert-success mt-3 mb-3">Device successfully deleted</div>

    <LinkButton Href="/">Back to overview</LinkButton>
}
