@page "/deletedevice/{DeviceGuid:guid}"
@rendermode InteractiveServer

@if (Device is null)
{
    <p><em>Loading...</em></p>
}
else if (!Saved)
{
    <h3>Device details</h3>

    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td>@Device.DeviceGuid</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Device.Name</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Device.Description</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Device.IsOnline</td>
            </tr>
            <tr>
                <td>Last connected</td>
                @if (!Device.HasBeenConnected)
                {
                    <td>Never connected</td>
                }
                else
                {
                    <td>@Device.FormatLastConnectionTime() (@Device.FormatTimeSinceLastConnection() ago)</td>
                }
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-danger" @onclick="@HandleSubmit">Delete device?</button>
    <button type="button" class="btn btn-outline-primary" @onclick="@BackToOverview">Devices overview</button>
    <button type="button" class="btn btn-outline-primary" @onclick="@ToEditDevice">Edit device</button>
}
else
{
    <div class="alert alert-success">"Device successfully deleted"</div>

    <button type="button" class="btn btn-outline-primary" @onclick="@BackToOverview">Back to device overview</button>
}
