@page "/"
@rendermode InteractiveServer

<h3 class="text-center text-light-emphasis mt-2 mb-2">Overview of Devices</h3>

@if (Devices is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <table class="table table-sm table-hover table-bordered border-primary align-middle">
            <colgroup>
                <col span="1" style="width:5rem" />
                <col span="1" style="width:12rem" />
                <col span="1" style="width:5rem" />
                <col span="1" style="width:12rem" />
                <col span="1" style="width:6rem" />
                <col span="1" style="width:5rem" />
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name (Nickname)</th>
                    <th class="text-center">Online?</th>
                    <th>Last connected</th>
                    <th class="text-center">Actions</th>
                    <th class="text-center">Links</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Devices)
                {
                    <tr class="align-items-center">
                        <td class="text-monospace">@device.ShortGuid</td>
                        <td>
                            <div class="vstack">
                                <span>@device.Name</span>
                                @if (!string.IsNullOrWhiteSpace(device.NickName))
                                {
                                    <span>(@device.NickName)</span>
                                }
                            </div>
                        </td>
                        <td class="text-center">@device.IsOnline</td>
                        @if (device.HasBeenConnected)
                        {
                            <td>
                                <div class="vstack">
                                    <span class="font-monospace">@device.FormatLastConnectionTime()</span>
                                    <span>@device.FormatTimeSinceLastConnection() ago</span>
                                </div>
                            </td>
                        
                        }
                        else
                        {
                            <td>Never connected</td>
                        }
                        <td>
                            <div class="text-center vstack">
                                <button class="btn btn-info mb-1" @onclick="@(() => device.PingDevice())">Ping device</button>
                                <button class="btn btn-info" @onclick="@(() => device.ToggleStatus())">Toggle status</button>
                            </div>
                        </td>
                        <td>
                            <div class="text-center vstack">
                                <a class="btn btn-outline-primary mb-1" href="@($"/devicedetails/{device.DeviceGuid}")">Details</a>
                                <a class="btn btn-outline-primary mb-1" href="@($"/editdevice/{device.DeviceGuid}")">Edit</a>
                                <a class="btn btn-outline-primary" href="@($"/deletedevice/{device.DeviceGuid}")">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
