@page "/devicedetails/{DeviceGuid:guid}"

<PageTitle>AWIPEV Atmosphere Observatory</PageTitle>

<h1>Instrument details</h1>

@if (Device is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Device.Name</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>@Device.DeviceGuid</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Device.Description</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Device.IsOnline</td>
            </tr>
            <tr>
                <td>Last connection</td>
                @if (!Device.HasBeenConnected)
                {
                    <td>Never connected</td>
                }
                else
                {
                    <td>
                        @Device.FormatLastConnectionTime() (@Device.FormatTimeSinceLastConnection() ago)
                    </td>
                }
            </tr>
        </tbody>
    </table>

    <h3>Device connection history</h3>
    @if (!Device.HasBeenConnected)
    {
        <p>This device has never been connected to.</p>
    }
    else
    {
        <table>
            <tbody>
                @foreach (var connectionTime in Device.ConnectionEvents)
                {
                    <tr>
                        <td>@connectionTime.ToString(Ovning16.Models.Device.DateFormat)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
