@page "/devicedetails/{DeviceGuid:guid}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid

<div class="container-fluid">
<MainHeader>Instrument details</MainHeader>
<LookForDevice DeviceDataService="@DeviceDataService" DeviceGuid="@DeviceGuid" SetDevice="@SetDevice">

    <table class="table table-sm align-middle">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Device.Name</td>
            </tr>
            <tr>
                <td>Nickname</td>
                <td>@(Device.NickName is null ? string.Empty : Device.NickName)</td>
            </tr>
            <tr>
                <td>Id</td>
                <td class="font-monospace">@Device.DeviceGuid</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Device.Description</td>
            </tr>
            <tr>
                <td>Status</td>
                <td><StatusBadge Status="@Device.IsOnline" /></td>
            </tr>
            <tr>
                <td>Last connection</td>
                @if (!Device.HasBeenConnected)
                {
                    <td>Never connected</td>
                }
                else
                {
                    <td>
                        <span class="font-monospace">@Device.FormatLastConnectionTime()</span> (@Device.FormatTimeSinceLastConnection() ago)
                    </td>
                }
            </tr>
        </tbody>
    </table>

    <div class="container-fluid mt-2">
        <LinkButton Href="@($"editdevice/{Device.DeviceGuid}")">Edit device</LinkButton>
        <LinkButton Href="@($"deletedevice/{Device.DeviceGuid}")">Delete device</LinkButton>
        <LinkButton Href="/">Back to overview</LinkButton>
    </div>

    <div class="container-fluid mt-3">
        <MainHeader>Device connection history</MainHeader>
        @if (queryableCount == 0)
        {
            <p>This device has never been connected to.</p>
        }
        else
        {
            <QuickGrid Items="@itemsQueryable" Pagination="@pagination">
                <PropertyColumn Property="@(dt => dt)" Title="Time"></PropertyColumn>
            </QuickGrid>

            <Paginator State="@pagination" />
        }
    </div>

</LookForDevice>
</div>
