@page "/"
@rendermode InteractiveServer
@using Ovning16.Components.Widgets

<h3 class="text-center text-light-emphasis mt-2 mb-2">Overview of Devices</h3>

<StatusSummary></StatusSummary>

@if (Devices is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-sm table-hover table-bordered border-primary align-middle">
        <thead>
            <tr>
                <th>Device GUID</th>
                <th>Name</th>
                <th class="text-center">Online?</th>
                <th>Last connected</th>
                <th class="text-center">Actions</th>
                <th class="text-center">Links</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Devices)
            {
                <tr class="align-items-center">
                    <td class="text-monospace">@device.ShortGuid</td>
                    <td>@device.Name</td>
                    <td class="text-center">@device.IsOnline</td>
                    @if (device.HasBeenConnected)
                    {
                        <td>
                            @device.FormatLastConnectionTime()
                            <br />@device.FormatTimeSinceLastConnection() ago
                        </td>
                        
                    }
                    else
                    {
                        <td>Never connected</td>
                    }
                    <td class="text-center">
                        <button class="btn btn-info" @onclick="@(() => device.PingDevice())">Ping device</button>
                        <button class="btn btn-info" @onclick="@(() => device.ToggleStatus())">Toggle status</button>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-outline-primary" href="@($"/devicedetails/{device.DeviceGuid}")">Details</a>
                        <a class="btn btn-outline-primary" href="@($"/editdevice/{device.DeviceGuid}")">Edit</a>
                        <a class="btn btn-outline-primary" href="@($"/deletedevice/{device.DeviceGuid}")">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
