@page "/"
@attribute [StreamRendering(true)]

<div class="container-fluid">
    <h3 class="text-center">Overview of Devices</h3>

    @if (Devices is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-hover table-bordered border-primary">
            <thead>
                <tr>
                    <th>Device GUID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Online?</th>
                    <th>Last connected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var device in Devices)
                {
                    <tr class="align-items-center">
                        <td class="text-monospace">@device.ShortGuid</td>
                        <td>@device.Name</td>
                        <td>@device.Description</td>
                        <td>@device.IsOnline</td>
                        @if (device.HasBeenConnected)
                        {
                            <td>
                                @device.FormatLastConnectionTime()
                                <br />@device.FormatTimeSinceLastConnection() ago
                            </td>
                        
                        }
                        else
                        {
                            <td>Never connected</td>
                        }
                        <td>
                            <a class="btn-outline btn-sm btn-primary" href="@($"devicedetails/{device.DeviceGuid}")">Details</a>
                            <a class="btn-outline btn-sm btn-primary" href="@($"editdevice/{device.DeviceGuid}")">Edit</a>
                            <a class="btn-outline btn-sm btn-primary" href="@($"deletedevice/{device.DeviceGuid}")">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
